<h2>Publicação de Aplicativos</h2>
<div class="toolbar">
    <div class="left-buttons">
        <button mat-raised-button color="primary" (click)="filter('in-progress')">Em Andamento</button>
        <button mat-raised-button color="accent" (click)="filter('completed')">Encerrados</button>
    </div>
    <div class="right-button">
        <button mat-raised-button color="warn" (click)="createNewRequest()">Novo Pedido</button>
    </div>
</div>
<div class="publication-list">
    <mat-table [dataSource]="filteredPublications" class="mat-elevation-z8">
        <ng-container matColumnDef="creationDate">
            <mat-header-cell *matHeaderCellDef> Data de Criação </mat-header-cell>
            <mat-cell *matCellDef="let publication"> {{publication.creationDate | date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="updateDate">
            <mat-header-cell *matHeaderCellDef> Data de Atualização </mat-header-cell>
            <mat-cell *matCellDef="let publication"> {{publication.updateDate | date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="appName">
            <mat-header-cell *matHeaderCellDef> Nome do Aplicativo </mat-header-cell>
            <mat-cell *matCellDef="let publication"> {{publication.appName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="appVersion">
            <mat-header-cell *matHeaderCellDef> Versão do Aplicativo </mat-header-cell>
            <mat-cell *matCellDef="let publication"> {{publication.appVersion}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deviceModel">
            <mat-header-cell *matHeaderCellDef> Modelo do Dispositivo </mat-header-cell>
            <mat-cell *matCellDef="let publication"> {{publication.deviceModel}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
            <mat-cell *matCellDef="let publication"> {{publication.status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="requestingUser">
            <mat-header-cell *matHeaderCellDef> Usuário Solicitante </mat-header-cell>
            <mat-cell *matCellDef="let publication"> {{publication.requestingUser}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>