<h2>Bem-vindo à página principal!</h2>
<div class="container">
  <nav *ngIf="isDev && !isAdmin" class="dev-menu">
    <ul>
      <li><a routerLink="request-app-registration" routerLinkActive="active">Requisitar Cadastro de Aplicativo</a></li>
      <li><a routerLink="request-app-publication" routerLinkActive="active">Requisitar Publicação de Aplicativo</a></li>
    </ul>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<p *ngIf="isAdmin">Você tem acesso total.</p>
<p *ngIf="isDev && !isAdmin">Você pode abrir requisições.</p>