<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <mat-list-item *ngIf="isDev && !isAdmin" routerLink="app-registration" routerLinkActive="active">
                <mat-icon matListIcon>app_registration</mat-icon>
                <span>Cadastro de Aplicativo</span>
            </mat-list-item>
            <mat-list-item *ngIf="isDev && !isAdmin" routerLink="app-publication" routerLinkActive="active">
                <mat-icon matListIcon>publish</mat-icon>
                <span>Publicação de Aplicativo</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<p *ngIf="isAdmin">Você tem acesso total.</p>
<p *ngIf="isDev && !isAdmin">Você pode abrir requisições.</p>